
.icon-basket:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\e803'; } /* '' */
.icon-window:before { content: '\e804'; } /* '' */
.icon-laptop:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-key:before { content: '\e808'; } /* '' */
.icon-002-line-chart:before { content: '\e809'; } /* '' */
.icon-003-imac:before { content: '\e80a'; } /* '' */
.icon-004-layers:before { content: '\e80b'; } /* '' */
.icon-001-database:before { content: '\e80c'; } /* '' */
.icon-wrench:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */